*.suo
*.swp
*.user
*.userprefs
*.pidb
*.nupkg
*.sln.ide
*.orig
*.vsp
*.psess
.fake/
.vs/
.vscode/
.ionide
.idea/
bin
obj
_ReSharper.*
packages/*
**/packages/*
.nuget/*.exe
paket-files/
BenchmarkDotNet.Artifacts/
paket.exe