*.suo
*.swp
*.user
*.userprefs
*.pidb
*.nupkg
*.sln.ide
*.orig
*.vsp
*.psess
*.vspx
*.stackdump

.fake/
.vs/
.vscode/
.ionide
packages/
build/
publish/
artifacts/
BenchmarkDotNet.Artifacts/
bin
obj

#Paket dependency manager
.paket/
paket-files/
